Checks: '
  -*,
  bugprone-*,
  cert-,
  clang-analyzer-
  cppcoreguidelines-*,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-vararg,
  llvm-,
  -llvm-include-order,
  google-build-using-namespace,
  google-explicit-constructor,
  google-global-names-in-headers,
  google-readability-casting,
  google-runtime-int,
  google-runtime-operator,
  hicpp-*,
  -hicpp-vararg,
  misc-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-concat-nested-namespaces,
  performance-*,
  readability-*,
  -readability-named-parameter,
  -surelogic-readability-using'
  
CheckOptions:
  - { key: bugprone-argument-comment.StrictMode,                  value: 1 }
  - { key: bugprone-exception-escape.FunctionsThatShouldNotThrow, value: 'WinMain,SDL_main' }
  - { key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic, value: 1 }
  - { key: hicpp-special-member-functions.AllowSoleDefaultDtor, value: 1 }
  - { key: readability-identifier-naming.ClassCase,             value: CamelCase  }
  - { key: readability-identifier-naming.VariableCase,          value: lower_case }
  - { key: readability-identifier-naming.FunctionCase,          value: lower_case }
  - { key: readability-identifier-naming.MemberSuffix,          value: _         }
  - { key: readability-identifier-naming.ParameterCase,         value: lower_case }

WarningsAsErrors:    ''
HeaderFilterRegex:   ''
FormatStyle:         google
  