.vscode/
build*/
CMakeFiles*/
**/Makefile
!/Makefile
cmake_install.cmake
CTestTestfile.cmake
*.bak
src/http/output
src/http/outputs
include
_installs
_logs
_exports
_builds
_projects
_build
check-result.txt
